<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>
	<script src="https://apis.google.com/js/api.js" async></script>
	<script src="https://connect.facebook.net/en_US/sdk.js" async></script>
<style>

</style>
</head>
<body class="loading">
	<div id="root"></div>
	<div class="bg">
		<span class="logo large" data-time="🕐"></span>
	</div>
	<link rel="stylesheet" type="text/css" href="/leaflet.css">
	<link rel="stylesheet" type="text/css" href="/esri-leaflet-geocoder.css">
</body>
</html>