body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  background-color: #f8f8ff;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main, header {
  pre {
    white-space: pre-wrap;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  a {
    color: initial;
    text-decoration: initial;
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h2 {
    text-align: center;
  }

  .btn {
    padding: 5px 10px;
    border: 1px solid #e2e2e2;
    color: #fafafa;
    border-radius: 6px;
    font-size: 1.2em;
    margin: 1em; 
  }
  .btn:hover {
    filter: brightness(1.03);
    border-color: #d2d2d2;
  }
  .btn.active {
    background: #f5f5f5;
    color: #c66;
  }
}
.error {
  color: #da2626;
}

.logo {
  display: flex;
  align-items: center;

  &::before {
    content: attr(data-time);
    transition: filter .8s linear;
  }

  &.large::before {
    font-size: 250%;
  }
  &.large {
    user-select: none;
  }
  &.large::after {
    content: "Time\AZone";
    white-space: pre;
    color: #111;
    font-size: 200%;
    padding-left: 10px;
  }
  &.small {
    font-size: 1.66em;
    font-weight: 600;
  }
}

.bg {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: z-index .8s linear;
}
body.loading .bg {
  z-index: 11;
  visibility: visible;
}
body.loading .logo.large::before {
  animation: loader 5s linear infinite;
}
@keyframes loader {
  50% {
    filter: brightness(2);
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.leaflet-top.leaflet-left {
  margin-top: 4.2em;;
}
.leaflet-pane.leaflet-overlay-pane .leaflet-interactive {
  pointer-events: none;
}

.zone-popup {
  max-width: 800px;
  font-size: 120%;

  .address {
    font-size: 95%;
    margin-bottom: 15px;
    text-align: center;
  }
  label {
    display: block;
  }
  input[name=name] {
    min-width: 100px;
    width: 100%;
  }

  input[type=submit] {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    height: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    font-size: initial;
    margin: 1em auto 0;
  }
}

.zone {
  font-size: 120%;
  max-width: 220px;

  h3 {
    display: flex;
    align-items: center;
  }
  .name {
    flex: 1;
    margin: 0 10px;
  }
  .address {
    font-size: 95%;
    margin-bottom: 10px;
  }
  .time {
    font-weight: normal;
    font-size: 80%;
  }
}

input[type=text],
input[type=search],
input[type=email] {
  height: 2em;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  padding: 0 5px;
  min-width: 50px;
}
